@using TErm.Models
@model ProjectModel

@{
    ViewBag.Title = "Задачи";
}

<div>
    <div>
        @using (Html.BeginForm("Issues", "Issue", FormMethod.Post))
        {
            <input type="submit" value="Оценить" style="border-radius:5px; color: #000000; background-color: #bdbdbd; width: 172px; height: 30px;" />
            <button type="submit" name="action" value="showClasters" style="border-radius:5px; color: #000000; background-color: #bdbdbd; width: 172px; height: 30px;">Кластеризация</button>
        }
    </div>
    <div>
        <table>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Оценочное время</th>
                <th>Потраченное время</th>
            </tr>
            @foreach (IssuesModel issue in Model.issuesList)
            {
                <tr>
                    <td>@issue.name</td>
                    <td>@issue.desc</td>
                    <td>@issue.time_stats.time_estimate</td>
                    <td>@issue.time_stats.total_time_spent</td>
                </tr>
            }
            <tr>
                <td>Общее время проекта</td>
                <td></td>
                <td>@Model.projectTime</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>